#music {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


#music > a {
    display: block;
    text-align: center;
    padding: 1em;
    font-size: 3em;
    text-decoration: none;
    color: inherit;
    background-position: center center;
    text-transform: uppercase;
    flex-shrink: 0;
    flex-grow: 1;
    position: relative;
    display: grid;
    place-content: center;
}